/* Global Styles */
* {
  box-sizing: border-box;
}

/* Element Styles */
body {
  background-color: black;
}

header {
  display: flex;
  justify-content: center;
}

h1,
h2 {
  font-family: "IM Fell English SC", serif;
  color: whitesmoke;
}

/* Class Styles */
.haunted {
  text-align: center;
  margin-top: 5%;
}

.haunting-container {
  display: flex;
  justify-content: center;
}

/* Hides HTML elements until removed by the JavaScript */
.hidden {
  display: none;
}

/* CSS Animation */
#skeleton {
  max-height: 15%;
  max-width: 15%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
